@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #121212;
}
.article-title { margin-bottom: 30px; }

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper { margin-bottom: 25px; }

.timeline-list { font-size: 0.875rem; margin-left: 45px; }

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title { margin-bottom: 7px; }

.timeline-list span { color: #DAA520; }

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: #343434;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: linear-gradient(135deg, #FFFF00 0%, #FF8C00 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 4px #343434;
}

.timeline-text { color: #D3D3D3; }

.skills-title { margin-bottom: 20px; }

.skills-list { padding: 20px; }

.skills-item:not(:last-child) { margin-bottom: 15px; }

.skill .title-wrapper { margin-bottom: 8px; }

.skill .title-wrapper data { color: #D3D3D3; }

.skill-progress-bg { background: #343434; width: 100%; height: 8px; border-radius: 10px; }

.skill-progress-fill { background: linear-gradient(135deg, #FFFF00 0%, #FF8C00 100%); height: 100%; border-radius: inherit; }
